* {
  box-sizing: border-box;

  outline: 1px solid #f00 !important;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.box1 {
  width: 100%;
  text-align: center;
  min-width: 480px;
  background-color: lightblue;
  height: 100vh;
  background-image: url(./recursos/background.jpeg);
  background-size: cover;
  background-position-x: center;
  flex-direction: row;
  align-items: center;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 60%;
  text-align: center;
  min-width: 480px;
  background-color: #dbcdf0;
  height: 100vh;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 250%;
  text-align: left;
  padding: 10px;
  padding-top: 0px;
}

.box3 {
  width: 40%;
  text-align: center;
  min-width: 480px;
  background-color: #dbcdf0;
  height: 100vh;
}

.box4 {
  width: 100%;
  text-align: center;
  min-width: 480px;
  background-color: rgb(201, 189, 175);
  height: 100vh;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 350%;
  padding: 60px;
  background-image: url(./recursos/background3.png);
    padding-left: ;
  background-size: cover;
  background-position-x: center;
}

.box5 {
  display: flex;
  width: 40%;
  text-align: center;
  min-width: 480px;
  background-color: lime;
  height: 100vh;
}

.box6 {
  display: flex;
  width: 60%;
  text-align: center;
  min-width: 480px;
  background-color: mediumpurple;
  height: 100vh;
}

.logofront {
  max-width: 80%;
  padding-top: 25vh;
  animation: up-down 3s infinite ease-in-out alternate;
}

.macaronbox {
  max-width: 100%;
  padding-top: 25vh;
  animation: up-down 3s infinite ease-in-out alternate;
}

.grow img {
  transition: 1s ease;
  width: 27vh;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.macbox {
  justify-content: space-around;

  display: flex;
  padding: 100px;
  bottom: 0px;
  line-height: 80vh;
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}

/* BREAKPOINT MOBILE*/

@media (max-width: 600px) {
  .box2,
  .box3,
  .box5,
  .box6 {
    width: 100vh;
    height: 60vh;
    overflow: hidden;
  }

  .box1,
  .box4 {
    height: 117vh;
    width: 100vh;
    overflow: hidden;
  }

  .logofront {
    max-width: 90%;
    padding-top: 50vh;
  }

  .container {
    padding: 0px;
  }

  .box1 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
  }

  .box2 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-align: left;
    padding-left: 60px;
    padding-right: 0px;
    padding-top: 0px;
  }

  h1{
    height: 10%;  
    font-size: 80%;
    width: 100vh;
    padding-left: 30px;
  }

  p{
      width: 97%;
      padding-top: 40px;
      font-size: 17px;
      text-align: right;
      padding-left: 30px;
  }

  .box3 {
    padding: 0px;
    padding-top: 80px;
    padding-left: 50px;
  }

  .box4 {
      
    padding-top: 0;
    min-width: 480px;
    font-size: 95%;
    color: rgb(255, 255, 255);
    background-image: url(./recursos/background2.png);
    padding-left: ;
  background-size: cover;
  background-position-x: center;
  }

  .macaronbox {
    max-width: 105%;
    padding-top: 0vh;
  }

  .macbox {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 115%;
    bottom: 0px;
    line-height: 0vh;
    
    padding-top: 0vh;
  }
.pbox2{
    padding-top: 20px;
    width: 115%;
    text-align: right;
    font-size: 47%;
    padding-left: 10px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 10px;
}
  .grow img {
    width: 16vh;
  }
}
